{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{uname}}'s Events</title>
    <link rel="stylesheet" type="text/css" href="{% static 'eballevents_style.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="topmenu">
        <div class="left_section">
            <p class="maintitle">EventBuddy</p>
        </div> 
        <div class="right_section">
            {% if uid == ''%}
            <a href="/signin" class="menulink" title="Sign in to your account">Sign In</a>
            {% endif %}
            {% if uid != ''%}
            <a href="#" class="menulink" title="Profile">Profile</a>
            {% endif %}
            <a href="#" class="menulink" title="About Us">About Us</a>
            {% if uid != ''%}
            <a href="{% url 'explore' uid%}" class="menulink" title="Explore trending events">Explore</a>
            {% endif %}
            {% if uid == ''%}
            <a href="/explore" class="menulink" title="Explore trending events">Explore</a>
            {% endif %}
            {% if uid == ''%}
            <a href="/" class="menulink" title="Home">Home</a>
            {% endif %}
            {% if uid != ''%}
            <a href="{% url 'home' uid%}" class="menulink" title="Home">Home</a>
            {% endif %}
        </div>
    </div>
    <h1 class="mainhead">All Events</h1>
    <div class="eventsection">
        {% for event in alleventlst%}
        <div>
        <h1 class="field1">{{event.event_name}}</h1>
        <h2 class="field2">FROM: {{event.event_start}}</h2>
        <h2 class="field2">TO: {{event.event_end}}</h2>
        <h2 class="field2">HOST: {{event.host_name}}</h2>
        <h2 class="field2">DEADLINE: {{event.registration_deadline}}</h2>
        <h1 class="field1"><a href="{{event.event_poster}}" title="View poster for this event" class="vplink">View Poster</a></h1>
        {% if event.host_email == umail%}
        <h1 class="field1"><a href="{% url 'viewparticipant' uid event.event_id%}" class="vplink" title="View all participants for this event">View Participants</a></h1>
        <h1 class="field1"><a href="{% url 'deleteevent' uid event.event_id%}" class="dellink">Delete</a></h1>
        {% endif %}
        </div>
        {% endfor %}
        {% if not alleventlst%}
        <h1 class="errmess">No events scheduled.</h1>
        {% endif %}
    </div>
    <div class="participantinfo">
        <ul>
        <h1 class="lsthead">List of participants:</h1>   
        {% for participant in partlst%}
        <li class="partitem">{{participant.participant_name}} ({{participant.participant_email}})</li>
        {% endfor %}
        {% if not partlst %}
        <h2 class="partitem">No information to show!</h2>
        {% endif %}
        </ul>
    </div>
</body>
</html>