{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EventBuddy Signin</title>
    <link rel="stylesheet" type="text/css" href="{% static 'ebsignin_style.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="signincard">
        <h1 class="maintitle">EventBuddy</h1>
        <form action="signin" method="POST">
            {% csrf_token %}
            <input type="text" name="mail" placeholder="Email" class="infield">
            <input type="password" name="paword" placeholder="Password" class="infield">
            <h2 class="err">{{message}}</h2>
            <input type="submit" value="Sign In" class="subbtn">
        </form>
        <h1 class="backdiv">New to EventBuddy? <a href="{% url 'signup' %}" class="backbtn">Signup</a></h1>
    </div>
</body>
</html>